# Load data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../dataset/final_dataframe_extended.csv")
df.head()

,Name,gender_wiki,birth_date_wiki,nationality_wiki,gender_dbpedia,birth_date_dbpedia,nationality_dbpedia,gender_gkg,birth_date_gkg,nationality_gkg,...,description,year_in_title,VoxCeleb_ID,gender,birth_year,year_upload_yt,recording_year,recording_year_title_only,speaker_age,speaker_age_title_only
0,Arnd Peiffer,male,1987-03-18,Germany,male,1987-3-18,NaN,male,1987-03-18,Germany,...,"""Interview mit Arnd Peiffer beim abschlie\u00d...",2013.0,id00778,male,1987.0,2013.0,2013.0,2013.0,26.0,26.0
1,Arnd Peiffer,male,1987-03-18,Germany,male,1987-3-18,NaN,male,1987-03-18,Germany,...,"""It was a successful first competition for the...",2017.0,id00778,male,1987.0,2017.0,NaN,2017.0,NaN,30.0
2,Arnd Peiffer,male,1987-03-18,Germany,male,1987-3-18,NaN,male,1987-03-18,Germany,...,"""\u00d6stersund-2016. Comments from Benedikt D...",2016.0,id00778,male,1987.0,2016.0,2016.0,2016.0,29.0,29.0
3,Arnd Peiffer,male,1987-03-18,Germany,male,1987-3-18,NaN,male,1987-03-18,Germany,...,"""Interview mit Arnd Peiffer bei der DSV-Einkle...",2012.0,id00778,male,1987.0,2012.0,NaN,2012.0,NaN,25.0
4,Arnd Peiffer,male,1987-03-18,Germany,male,1987-3-18,NaN,male,1987-03-18,Germany,...,"""Interview nach dem Verfolgungsrennen in Konti...",NaN,id00778,male,1987.0,2010.0,NaN,NaN,NaN,NaN

## General statistics

In [3]:
df.shape

(149350, 23)

In [4]:
df.describe()

,year_in_title,birth_year,year_upload_yt,recording_year,recording_year_title_only,speaker_age,speaker_age_title_only
count,23315.000000,127050.000000,132029.000000,7642.000000,16476.000000,6601.000000,14247.000000
mean,2001.971092,1970.364368,2013.335207,2013.388642,2013.503642,40.570217,40.776725
std,93.716237,14.250047,2.559013,2.414558,2.385449,14.090894,14.084826
min,1000.000000,1904.000000,2006.000000,2006.000000,2006.000000,10.000000,10.000000
25%,2010.000000,1960.000000,2012.000000,2012.000000,2012.000000,29.000000,29.000000
50%,2013.000000,1972.000000,2014.000000,2014.000000,2014.000000,38.000000,38.000000
75%,2015.000000,1982.000000,2015.000000,2015.000000,2016.000000,51.000000,51.000000
max,2967.000000,2000.000000,2017.000000,2017.000000,2017.000000,92.000000,95.000000

## Age
For computing age statistics we will first select only the speaker_age and name columns:

In [5]:
df_age = df[['speaker_age', 'Name']]

Then we will drop duplicates, as multiple records for the same speaker may exist:

In [6]:
df_age.drop_duplicates(inplace=True)

c:\users\hechm\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df_age.shape

(10933, 2)

Let's now see the main statistics related to age distribution:

In [8]:
df_age.describe()

       speaker_age
count  4821.000000
mean     41.324207
std      14.261519
min      10.000000
25%      30.000000
50%      39.000000
75%      52.000000
max      92.000000

For more than half of the VIPS it was not possible to compute the age with the approach described in the paper. Here it follows the distribution of the inferred ages:

In [9]:
pd.cut(df_age.speaker_age, bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, 92]).value_counts()

(30, 40]    1287
(20, 30]    1204
(40, 50]     926
(50, 60]     702
(60, 70]     457
(70, 80]     122
(10, 20]     112
(80, 92]      10
(0, 10]        1
Name: speaker_age, dtype: int64